body {
    background-image: url('fundologin.png');
    background-position: center;
    background-size: cover;
    height: 540px;
}

.login-container {
    backdrop-filter: blur(50px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #ccc;
    font-weight: bold;
    font-size: large;

}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
}

.password-container {
    position: relative;
    width: 100%;
}

div i{
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 45%;
    color: #ccc;
}

.login-container button {
    width: 90%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.login-container button:hover {
    background-color: #141414;
}

.login-options {
    margin-top: 20px;
}

.login-options p {
    margin: 10px 0;
    color: #ccc;
}

.login-options a {
    color: #fc6e6e;
    text-decoration: none;
}

.login-options a:hover {
    text-decoration: underline;
}
